.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.produto img {
  margin-bottom: 2rem;
}

.preco {
  padding: 0.5rem;
  background-color: #91fb5d;
  color: #017e01;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
